body{
    margin: 0px;
    padding: 0px;
    font-family: 'NeurialGroteskRegular';
    color: #211C1D;
}
header{
    background-color: #ffffff;
}
h4{
    font-family: 'NeurialGroteskBold';
}
@font-face {
    font-family: 'NeurialGroteskBold';
    src: url('../fonts/NeurialGroteskBold.eot');
    src: url('../fonts/NeurialGroteskBold.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskBold.woff2') format('woff2'),
         url('../fonts/NeurialGroteskBold.woff') format('woff'),
         url('../fonts/NeurialGroteskBold.ttf') format('truetype'),
         url('../fonts/NeurialGroteskBold.svg#NeurialGroteskBold') format('svg');
}
@font-face {
    font-family: 'NeurialGroteskRegular';
    src: url('../fonts/NeurialGroteskRegular.eot');
    src: url('../fonts/NeurialGroteskRegular.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskRegular.woff2') format('woff2'),
         url('../fonts/NeurialGroteskRegular.woff') format('woff'),
         url('../fonts/NeurialGroteskRegular.ttf') format('truetype'),
         url('../fonts/NeurialGroteskRegular.svg#NeurialGroteskRegular') format('svg');
}
@font-face {
    font-family: 'NeurialGroteskLight';
    src: url('../fonts/NeurialGroteskLight.eot');
    src: url('../fonts/NeurialGroteskLight.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskLight.woff2') format('woff2'),
         url('../fonts/NeurialGroteskLight.woff') format('woff'),
         url('../fonts/NeurialGroteskLight.ttf') format('truetype'),
         url('../fonts/NeurialGroteskLight.svg#NeurialGroteskLight') format('svg');
}

.navbar-nav .nav-item{
    position: relative;
}
.megamenu-wrapper{
    position: absolute;
    width: 1400px;
    left: -470px;
    margin: auto;
    display: flex;
    background-color: #ffffff;
    z-index: 30;
    padding: 60px 40px;
    box-shadow: 0px 0px 10px #dddddd;
    display: none;
}
.navbar-nav .nav-item:hover .megamenu-wrapper{
    display: flex;
}
.megamenu-links-wrapper ul{
    padding: 0px;
    margin: 0px;
}
.megamenu-links-wrapper ul li{
    list-style: none;
    width: 265px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}
.megamenu-links-wrapper ul li a{
    text-decoration: none;
    display: flex;
}
.megamenu-links-wrapper ul li a:hover h6{
    color:#EDBA37;
}
.megamenu-links-wrapper ul li a i{
    margin-right: 6px;
}
.megamenu-links-content h6{
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.megamenu-links-content p{
    color: #898989;
    font-size: 15px;
    line-height: 20px;
}
.megamenu-image {
    width: 450px;
    flex-shrink:0;
}
.megamenu-welcome-title{
    margin-bottom: 30px;
}
header.baby-pink-background{
    background-color: #FEDFFA;
}
header.pink-orange-background{
    background-color: #FFB09F;
}
header.grey-blue-background{
    background-color: #ADDEEC;
}
header.kobi-pink-background{
    background-color: #FCC7D1;
}
header.mint-background{
    background-color: #CAFBE5;
}
.banner-section.grey-blue-background:before{
    background-color: #ADDEEC;
}
.key-features.key-features-grey-blue:before{
    background-color: #ADDEEC;
}
.grey-blue{
    background-color: #ADDEEC;
}
.banner-section.mint-background:before{
    background-color: #CAFBE5;
}
.key-features.key-features-mint:before{
    background-color: #CAFBE5;
}
.mint-color{
    background-color: #CAFBE5;
}
.key-features.key-features-kobi-pink:before{
    background-color: #FCC7D1;
}
.kobi-pink{
    background-color: #FCC7D1;
}
.banner-section.kobi-pink-background:before{
    background-color: #FCC7D1;
}
.banner-section.pink-orange-background:before {
    background-color: #FFB09F;
}
.key-features.key-features-pink-orange:before{
    background-color: #FFB09F;
}
.light-orange{
    background-color: #FED1CB;
}
header.baby-pink-background{
    background-color: #FEDFFA;
}
.key-features.key-features-baby-pink:before{
    background-color: #FEDFFA;
}
.baby-pink{
    background-color: #FEDFFA;
}
header.baby-blue-background{
    background-color: #ABFCFF;
}
header.lemon-yellow-background{
    background-color: #FFF7B9;
}
.banner-section.baby-pink-background:before{
    background-color: #FEDFFA;
}   
.banner-section.baby-blue-background:before{
    background-color: #ABFCFF;
}
.baby-blue{
    background-color: #ABFCFF;
}
.key-features.key-features-baby-blue:before{
    background-color: #ABFCFF;
}
.lemon-yellow{
    background-color: #FFF7B9;
}
.banner-section.lemon-yellow-background:before{
    background-color: #FFF7B9;
}
.key-features.key-features-lemon-yellow:before{
    background-color: #FFF7B9;
}
.why-easy-box h6 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}
.key-features.flex-d-coll h5{
    font-size: 25px;
}
.why-easy-box i {
    display: flex;
    height: 115px;
    align-items: center;
    justify-content: center;
}
header.peach-background{
    background-color: #FEDBD5;
}
.key-features.key-features-peach:before{
    background-color: #FEDBD5;
}
.automate-management{
    border-radius: 45px;
    padding: 100px 60px;
    position: relative;
    z-index: 1;
}
.key-features.why-easy{
    flex-direction: column;
}
.peach-color{
    background-color: #FEDBD5;
}
.key-features.flex-d-coll{
    flex-direction: column;
    height: auto;
    text-align: center;
}
.banner-section.peach-background:before{
    background-color: #FEDBD5;
}
.key-features.key-features-pink:before{
    background-color: #ECE3FC;
}
.grey-footer .main-footer{
    background-color: #F5F5F5;
}
header.green-background{
    background-color: #C2FFE0;
}
.key-features.key-features-green:before{
    background-color: #D2FFEA;
}
.banner-section.green-background:before{
    background-color: #C2FFE0;
}
.banner-section.brown-background:before{
    background-color: #FFCEA3;
}
.background-color-grey{
    background-color: #F5F5F5;
}
.key-features.key-features-brown:before{
    background-color: #FFF0E1;
}
header.brown-background{
    background-color: #FFCEA3;
}
.padding-bottom-zero{
    padding-bottom: 0px !important;
}
header.water-blue-background{
    background-color: #ABFCFF;
}
.key-features-water-blue{
    
}
.key-features.key-features-water-blue:before{
    background-color: #ABFCFF;
}
.water-blue-background.banner-section:before{
    background-color: #ABFCFF;
}
header.yellow-background{
    background-color: #FFFEDE;
}
header.pink-background{
    background-color: #FCEBF6;
}
.pink-background.banner-section:before{
    background-color: #FCEBF6;
}
.pink-body{
    background-color:#FFF1ED;
}
.banner-section.yellow-background:before{
    background-color: #FFFEDE;
}
.banner-section.white-background:before{
    background-color: #ffffff;
}
.key-features.key-features-yellow:before{
    background-color: #FFFEDE;
}
.banner-section.mustered-background:before{
    background-color: #F2EEE2;
}
header.mustered-background{
    background-color: #F2EEE2;
}
.key-features.key-features-musteredbg:before{
    background-color: #F2EEE2;
}
header.white-background{
    background-color: #ffffff;
}
.technology-that-defines-section{
    background-color: #ffffff;
}
.technology-that-defines-section .card{
    text-decoration: none;
}
.space-from-left-right{
    padding: 0px 60px;
}
.gift-card-reports h2{
    font-family: 'NeurialGroteskBold'; 
}
.p20{
    font-size: 20px;
    line-height:35px;
}
.space-top-100{
    padding-top: 100px;
}
.navbar-nav .nav-link{
    color: #000000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.navbar-nav{
    margin: auto;
}
.social-icons ul{
    margin: 0px;
    padding: 0px;
}
.social-icons ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}
.social-icons ul li a{
    color: #000000;
    font-size: 20px;
}
.icon-button{
    color: #000;
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.social-icons{
    margin: 0px 50px;
    text-align: center;
}
.key-features-whitebg.key-features::before{
    background: #ffffff;
}
.key-features.key-features-orange:before{
    background: #F17349;
}
.key-features.key-features-mustered:before{
    background: #F2EEE2;
}
.btn-standerd{
    border-radius: 4px;
    background: #000;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px;
}
.btn{
    font-family: 'Manrope', sans-serif;
}
.header-button .btn-standerd{
    margin-left: 50px;
}
.banner-section{
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 400px;
}
.banner-section:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#ffffff;
    z-index: -1;
    left: 0px;
    right: 0px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(2.0);
}
.banner-section h6{
    color: #2D2D2D;
    text-align: center;
    font-family: 'NeurialGroteskBold';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-section h1{
    color: #2D2D2D;
    text-align: center;
    font-family: 'NeurialGroteskLight';
    font-size: 80px;
    margin-bottom: 20px;
}
.banner-section p{
    color: #211C1D;
    text-align: center;
    font-size: 20px;
    font-family: 'NeurialGroteskRegular';
    line-height: 30px;
    margin-bottom: 0px;
}
.banner-content{
    padding: 100px 0px 100px;
}
.tab-button h6{
    font-size: 18px;
    line-height: 50px;
    font-weight: 400;
    margin: 10px 0px 0px;
    color: #2D2D2D;
}
.tab-button{
    margin: 0px 10px;
}
.banner-tabs-wrapper{
    margin-top: -400px;
}
.banner-tabs-wrapper .nav-tabs .nav-link{
    border: 0px;
    background: transparent;
}
.nav-link.active .tab-button h6{
    border-bottom: 3px solid #EDBA37;
}
.banner-tabs-wrapper .nav.nav-tabs{
    border-bottom: 0px !important;
    margin-bottom: 50px;
}
.software-features{
    position: relative;
    z-index: 20;
}
.home-page{
    background-color: #f5f5f5;
}
.section-title{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
}
.section-title.section-title-light{
    font-family: 'NeurialGroteskLight';
}
.space-top-bottom100{
    padding: 100px 0px;
}
.features-slider-wrapper{
    margin-top: 40px;
}
.features-slider-wrapper h6{
    font-size: 25px;
    font-family: 'NeurialGroteskBold';
}
.features-slider-wrapper p{
    font-size: 18px;
}
.features-slider-content{
    padding: 0px 20px;
}
.key-features{
    position: relative;
    border-radius: 20px;
    border: 5px solid #151515;
    padding: 40px;
    display: flex;
    height: 285px;
    margin: 0px 10px;
}
.key-features::before{
    content: "";
    position: absolute;
    background: #E3F5FF;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
    padding: 20px;
    left: 20px;
    top: 20px;
}
.key-features-description h5{
    font-family: 'NeurialGroteskBold';
}
.key-features-description p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0px;
    margin-top: 20px;
}
.owl-prev,.owl-next{
    width: 85px;
    height: 85px;
    box-shadow: 0px 0px 10px 0px #dddddd;
    border-radius: 100px;
}
.owl-prev span,.owl-next span{
    font-size: 0px;
}
.owl-carousel .owl-nav button.owl-prev{
    background-image: url(../images/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 30px;
    right: auto;
    background-color: #FFFFFF;
}
.owl-carousel .owl-nav button.owl-next{
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: 30px;
    left: auto;
    background-color: #FFFFFF;
}
.owl-one.owl-carousel{
    position: relative;
}
.feature p{
    font-size: 20px;
}
.flawless-experience-section{
    background-color: #ffffff;
}
.flawless-experience-section{
    background-image: url(../images/blue-shape.png);
    background-repeat: no-repeat;
    background-position: right 190px;
    background-size: 670px 800px;
}
.flawless-experience-section .nav-pills .nav-link.active{
    background: transparent;
    color: #000000;
}
.flawless-experience-section .nav-pills .nav-link.active p{
    display: block;
}
.flawless-experience-section .nav-pills .nav-link.active{
    background: transparent;
    padding: 0px;
}
.flawless-experience-section .nav-pills .nav-link p{
    display: none;
}
.flawless-experience-section .nav-pills .nav-link .appointment-reminders{
    background: transparent;
    color: #000000;
}
.flawless-experience-section .nav-pills .nav-link.active .appointment-reminders{
    background: #eff0f5;
}
.flawless-experience-section .nav-pills .nav-link{
    text-align: left;
    padding: 0px;
}
.flawless-experience-section .nav-pills .nav-link .appointment-reminders h3{
    background-image: url(../images/acc-arrow-right.png);
    background-repeat: no-repeat;
    background-position: 3px;
    padding-left: 25px;
}
.flawless-experience-section .nav-pills .nav-link.active .appointment-reminders h3{
    background-image: none;
    padding-left: 0px;
}
.flawless-tab{
    padding-left: 40px;
}
.owl-dots{
    text-align: center;
    margin-top: 30px;
}
.owl-dots span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid #407BFF;
    margin: 0px 3px;
}
.owl-dot.active span{
    background-color: #407BFF ;
}
.space-top-bottom150{
    padding: 150px 0px;
}
.see-how h3{
    font-size: 60px;
}
.video-section a{
    font-size: 18px;
    color: #0655FF;
    text-decoration: underline;
    font-weight: 700;
    display: block;
}
.see-how{
    padding-left: 60px;
}
.margin-top-150{
    margin-top: 150px;
}
.client-logo{
    display: inline-block;
    margin: 0px 5px;
}
.expand-service{
    background-color: #ffffff;
}
.title90{
    font-size: 90px;
}
.p28{
    font-size: 28px;
    color: #000;
    line-height: 45px;
    margin-bottom: 0px;
}
.main-footer ul{
    margin: 0px;
    padding: 0px;
}
.main-footer h3{
    font-family: 'NeurialGroteskBold';
    font-size: 24px;
    margin-bottom: 20px;
}
.main-footer ul li a{
    font-size: 16px;
    font-family: 'NeurialGroteskBold';
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}
.countries li{
    width: 50%;
    float: left;
}
.main-footer ul li a i{
    margin-left: 10px;
}
.main-footer .social-icons ul li a i{
    font-size: 25px;
}
.white-footer{
    background-color: #ffffff;
}
.white-footer a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 5px;
}
.main-footer.space-top-bottom100{
	padding: 100px 0px 0px;
}
.copyright-links ul li a{
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 0px 10px;
}
.copyright-links ul li{
    list-style: none;
    display: inline-block;
}
.copyright-section-wrapper{
    background-color: #ffffff;
    border-top: 1px solid #C0C0C0;
}
.border-right{
    border-right:1px solid #C0C0C0;
}
.btn-standerd:hover{
    background-color: #EDBA37;
}
.card-body h4{
    font-size: 22px;
}
.banner-section p{
    width: 80%;
    margin: auto;
}
.banner-section.sky-blue:before{
    background-color: #E3F5FF;
}
header.sky-blue{
    background-color: #E3F5FF;
}
.key-features.key-features-blue:before{
    background: #058DF3;
}
.p25{
    font-size: 25px !important;
    line-height: 40px !important;
}
.white-color{
    color: #ffffff;
}
b{
    font-family: 'NeurialGroteskBold';
}
.key-features.full-width-box{
    height: auto;
    padding: 80px 40px;
    margin: 0px;
}
.key-features.full-width-box p{
    width: 80%;
    margin: auto;
}
.spacebottom-0{
   padding-bottom: 0px !important; 
}

@media only screen and (min-width: 1920px){
    .container-fluid {
        width: 1720px;
    }
}
@media only screen and (max-width: 1400px){
    .key-features {
        height: 450px;
    }
    .megamenu-wrapper{
        position: absolute;
        width: 1180px;
        left: -350px;
    }
}
@media only screen and (max-width: 1199px){

    br{
        display: none;
    }
    .key-features{
        height: auto;
    }
    .key-features.full-width-box{
        width: 96%;
        margin: auto;
    }
    .key-features::before{
        width: 95%;
    }
    .space-from-left-right{
        padding: 0px 20px;
    }
    .social-icons{
        width: 100px;
        margin: 0px 0px;
    }
    .icon-button{
        font-size: 18px;
    }
    .btn-standerd{
        padding: 10px 20px;
    }
    .header-button .btn-standerd{
        margin-left: 10px;
    }
    .navbar-brand{
        width: 250px;
    }
    .main-footer .social-icons{
        width: 100%;
    }
    .key-features::before{
        left: 0px;
        right: 0px;
        margin: auto;
    }
    .megamenu-wrapper {
        width: 910px;
        left: -265px;
    }
    .megamenu-image{
        display: none;
    }
    .megamenu-links-wrapper ul li{
        width: 45%;
    }
}
@media only screen and (max-width: 991px){

   .key-feature-section .key-features{
        margin-bottom: 50px;
    }
    .banner-section h1{
        font-size: 70px;
    }
    .navbar-nav .nav-link{
        font-size: 18px;
    }
    .header-button{
        text-align: right;
        width: 200px;
    }
    .icon-button{
        padding: 5px 0px;
    }
    .banner-content {
        padding: 100px 0px 100px;
    }
    .section-title{
        font-size: 40px;
    }
    .features-slider-wrapper h6{
        font-size: 20px;
    }
    .features-slider-wrapper p{
        font-size: 16px;
    }
    .space-top-bottom100 {
        padding: 80px 0px;
    }
   .card-body h4{
    font-size: 20px;
   }
   .feature p {
        font-size: 18px;
    }
    .p-5.appointment-reminders {
        padding: 20px 30px !important;
    }
    .space-top-bottom150{
        padding: 100px 0px;
    }
    .see-how h3{
        font-size: 50px;
    }
    .see-how{
        padding-left: 0px;
    }
    .margin-top-150 {
        margin-top: 100px;
    }
    .section-title br{
        display: none;
    }
    .title90 {
        font-size: 70px;
    }
    .p28 {
        font-size: 25px;
        line-height: 42px;
        margin-bottom: 30px;
    }
    .main-footer .col-lg-3.col-md-6{
        margin-bottom: 30px;
    }
    .space-top-100.image-content-row .ps-5{
        padding-left: 0px !important;
    }
    .column-reverse-on-mobile{
        flex-direction: column-reverse;
        margin-top: 40px;
    }
    .column-reverse-on-mobile .pe-5{
        padding-right: 0px !important;
        padding-top: 40px;
    }
    .why-easy-box{
        margin-bottom: 40px;
    }
    .why-easy-box h6{
        font-size: 20px;
    }
    .megamenu-wrapper{
        width: 720px;
        padding: 60px 40px 40px
    }
}
@media only screen and (max-width: 767px){

    .megamenu-wrapper{
        display: flex;
    }
    .megamenu-wrapper{
        width: 100%;
        padding: 60px 40px 20px;
        position: static;
    }
    .key-features.full-width-box.why-easy {
        padding-bottom: 30px;
    }
    .automate-management-section .btn.mt-5{
        margin-top: 0px !important;
    }
    .space-top-100.image-content-row{
        padding-top: 40px;
    }
    .automate-management .mt-5{
        margin-top: 0px !important;
    }
    .automate-management{
        padding: 60px 30px;
    }
    .main-footer.space-top-bottom100{
        text-align: center;
    }
    .navbar-toggler{
        background-color: #000000;
    }
    .header-button,.social-icons{
        display: none;
    }
    .banner-section h1 br{
        display: none;
    }
    .banner-section h1{
        font-size: 60px;
    }
    .banner-section p br{
        display: none;
    }
    .banner-content{
        padding: 100px 0px 50px;
    }
    .space-top-bottom100 {
        padding: 60px 0px;
    }
    .features-section-wrapper{
        padding: 0px 20px;
    }
    .feature{
        text-align: center;
    }
    .flawless-tab{
        padding-left: 0px;
    }
    .see-how{
        text-align: center;
        margin-top: 30px;
    }
   .video-section .margin-top-150 {
        margin-top: 60px;
    }
    .title90 {
        font-size: 60px;
        text-align: center;
    }
    .p28{
        text-align: center;
    }
    .copyright-section-wrapper{
        text-align: center;
    }
    .copyright-section-wrapper .text-end{
        text-align: center !important;
    }
    br{
        display: none;
    }
    .banner-section p {
        width: 100%;
    }
    .key-features.full-width-box p{
        width: 100%;
        margin-top: 0px !important;
    }
    .key-features{
        flex-direction: column;
        padding: 40px 25px;
        margin: 0px;
    }
    .key-features-icon.pe-4{
        padding-right: 0px !important;
        padding-bottom: 10px;
    }
    .megamenu-links-wrapper ul li{
        height: 120px;
    }
}
@media only screen and (max-width: 575px){

    .megamenu-wrapper{
        padding: 40px 20px 0px;
    }
    .megamenu-links-wrapper ul li{
        height: auto;
    }
    .megamenu-links-wrapper ul li{
        width: 100%;
        margin-right: 0px;
    }
    body.grey-footer .white-footer.py-5{
        padding-top: 60px !important;
    }
    .white-footer.py-5{
        padding: 0px !important;
    }
   .video-section.space-top-40-mobile{
        padding-top: 40px;
    }
    .p25 {
        font-size: 20px !important;
        line-height: 34px !important;
    }
    .navbar-brand {
        width: 150px;
    }
    .space-from-left-right {
        padding: 0px 15px;
    }
    .banner-content {
        padding: 60px 0px 50px;
    }
    .banner-section h6{
        font-size: 20px;
    }
    .banner-section h1 {
        font-size: 45px;
    }
    .section-title {
        font-size: 30px;
    }
    .features-slider .owl-carousel .owl-nav button.owl-prev{
        position: static;
    }
    .features-slider .owl-carousel .owl-nav button.owl-next{
        position: static;
        margin: 0px 10px;
    }
    .owl-prev, .owl-next{
        width: 60px;
        height: 60px;
    }
    .owl-nav{
        text-align: center;
    }
    .flawless-experience-section{
        background-image: none;
    }
    .flawless-experience-section .d-flex{
        flex-direction: column;
    }
    .p-5.appointment-reminders {
        padding: 20px 20px !important;
    }
    .flawless-experience-section .nav-pills .nav-link .appointment-reminders h3{
        font-size: 20px;
        margin-bottom: 0px !important;
    }
    .see-how h3{
        font-size: 40px;
    }
    .title90 {
        font-size: 40px;
    }
    .p28 {
        font-size: 22px;
        line-height: 40px;
    }
    .main-footer.space-top-bottom100{
        padding: 60px 0px 0px;
    }
    .banner-section{
        padding-bottom: 100px;
    }
    .banner-tabs-wrapper{
        margin-top: -100px;
    }
}